.container {
    width: 100vw;
    height: 100vh;
    background: #DAC827;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}


#container-top {
    margin-top: 3vh;
    height: 22vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#container-bottom { 

    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
}

#logo {
    width: 10vw;
    text-align: center;
    margin-left: 14vw;
    margin-right: 8vw;
    padding: 0;
}

#logo-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 4vh;
    line-height: 6vh;
    text-align: center;

    color: #000000;
}

#wybierz-typ{
    margin-left: 5vw;
    margin-right: 5vw;
}

#wybierz {
    font-size: 2vw;
    margin: 1vh;
    font-weight: 600;
}

#info-account{
    margin-left: 5vw;
    margin-right: 14vw;
    width: 13vw;
    text-align: right;
}

#nick {
    font-size: 3vw;
    margin: 0;
}

#achievements {
    font-size: 1.5vw;
    margin: 0;
}



#wybor{
    width: 26vw;
    height: 7vh;
    background: url(../img/arrow_down.svg), radial-gradient(98.1% 98.1% at 50% 50%, #7EBB4A 0%, rgba(126, 187, 74, 0) 100%);
    border-radius: 25px;
    font-size: 4vh;
    text-align: center;
    appearance: none;

    background-repeat: no-repeat;
    background-position-x: 95%;
}


.bot-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 7vh;
    line-height: 8vh;
    text-align: center;

    color: #000000;
}

.bot-picture {
    width: 18vw;
    height: 48vh;
    background-color: red;
    
}

.option{
    text-align: center;
    justify-content: center;
    margin-right: 5vw;
    margin-left: 5vw;
}

#options {
    background: url(../img/wdpai4.png);
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}

#draw {
    background: url(../img/wdpai7.jpg);
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}

#checkout {
    background: url(../img/wdpai8.jpg);
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}
